# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
.idea/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
conf.py
# Serverless directories
.serverless
/vertex-ai-key.json
/VERTEX_AI_SETUP.md
/AWS_LAMBDA_DEPLOYMENT.md
