service: python-chatbot-api
frameworkVersion: '4'

provider:
  name: aws
  runtime: python3.10
  architecture: arm64  # Ensure this matches your Dockerfile base image
  region: us-east-1
  environment:
    # Google Cloud / Vertex AI Configuration
    GCP_PROJECT_ID: "gen-lang-client-0517916478"
    GCP_REGION: "us-central1"
    GOOGLE_APPLICATION_CREDENTIALS: "/var/task/vertex-ai-key.json"
  ecr:
    images:
      chatbot_image:
        path: ./
  httpApi:
      cors: true

functions:
  chatbot:
    image:
      name: chatbot_image
      command: 
        - handler.chatbot
    timeout: 180
    events:
      - httpApi:
          path: /prompt
          method: post
  
  image_generator:
    image:
      name: chatbot_image
      command: 
        - handler.image_generator
    timeout: 180
    events:
      - httpApi:
          path: /generate-image
          method: post
  
  gemini_image_generator:
    image:
      name: chatbot_image
      command: 
        - handler.gemini_image_generator
    timeout: 180
    events:
      - httpApi:
          path: /generate-image-gemini
          method: post

  nano_banana_generator:
    image:
      name: chatbot_image
      command:
        - handler.nano_banana_generator
    timeout: 180
    events:
      - httpApi:
          path: /generate-image-nano-banana
          method: post