service: python-chatbot-api
frameworkVersion: '4'

provider:
  name: aws
  runtime: python3.9
  architecture: arm64  # Ensure this matches your Dockerfile base image
  region: us-east-1
  ecr:
    images:
      chatbot_image:
        path: ./
  httpApi:
      cors: true

functions:
  chatbot:
    image:
      name: chatbot_image
    timeout: 180
    events:
      - httpApi:
          path: /prompt
          method: post
  
  image_generator:
    image:
      name: chatbot_image
    timeout: 180
    events:
      - httpApi:
          path: /generate-image
          method: post
